# Ignore node_modules in the frontend directory
frontend/node_modules/
# Ignore bin
bin/
# Ignore dist
frontend/dist/assets/
frontend/dist/index.html
# Ignore .task
.task/
# Ignore bin
bin/
# Ignore other common unnecessary files.
*.log
*.env
*.DS_Store
# Ignore generated icon in root (copied from build/)
icon.ico
